<div class="intro">
  <h3>Schritt 3: Wählen Sie einen Impftermin.</h3>
  <h4>Zu welchem Termin wollen Sie Ihre Impfung erhalten?</h4>
</div>

<div class="ui container">
  <div class="ui middle aligned divided list" *ngIf="vaccinations">
    <div class="item" *ngFor="let vaccination of vaccinations">
      <div class="right floated content">
        <select class="ui dropdown" id="select_{{vaccination.id}}">
          <option value="{{slot.key}}"
            *ngFor="let slot of vaccination.reservationSlots | keyvalue"
            [disabled]="+slot.value >= vaccination.totalAttendeesPerSlot"
            [selected]="+slot.value < vaccination.totalAttendeesPerSlot"
            >{{slot.key}}</option>
        </select>
        <button class="ui btn button" (click)="next(vaccination)">Termin buchen</button>
      </div>
      <i class="large syringe icon"></i>

      <div class="content">
        <a class="header">{{vaccination.place}}</a>
        <div class="description">{{vaccination.date | date:'longDate' }}</div>
      </div>
    </div>
  </div>
</div>

