<div class="ui tablet stackable steps">
  <div class="step">
    <i class="map icon"></i>
    <div class="content">
      <div class="title">Schritt 1</div>
      <div class="description">Bundesland wählen</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="thumbtack icon"></i>
    <div class="content">
      <div class="title">Schritt 2</div>
      <div class="description">Standort wählen</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="calendar icon"></i>
    <div class="content">
      <div class="title">Schritt 3</div>
      <div class="description">Impftermin buchen</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="info circle icon"></i>
    <div class="content">
      <div class="title">Schritt 4</div>
      <div class="description">Buchung abschließen</div>
    </div>
  </div>
</div>
