<div class="ui tablet stackable steps">
  <div class="step" [class.disabled]="steps[1] == false">
    <i class="map marker alternate icon"></i>
    <div class="content">
      <div class="title">Schritt 1</div>
      <div class="description">Bundesland wählen</div>
    </div>
  </div>
  <div class="step" [class.disabled]="steps[2] == false">
    <i class="thumbtack icon"></i>
    <div class="content">
      <div class="title">Schritt 2</div>
      <div class="description">Standort wählen</div>
    </div>
  </div>
  <div class="step" [class.disabled]="steps[3] == false">
    <i class="calendar alternate icon"></i>
    <div class="content">
      <div class="title">Schritt 3</div>
      <div class="description">Impftermin buchen</div>
    </div>
  </div>
  <div class="step" [class.disabled]="steps[4] == false">
    <i class="check icon"></i>
    <div class="content">
      <div class="title">Schritt 4</div>
      <div class="description">Buchung abschließen</div>
    </div>
  </div>
</div>
