<div class="ui secondary pointing menu">
  <div class="left menu">
    <h2 class="ui header brand">
      <i class="syringe icon"></i>
      <div class="content">
        <div>Österreich</div>
        <div class="sub header">impft sich frei</div>
      </div>
    </h2>
  </div>
  <div class="right menu">
    <a class="item" routerLink="anmeldung" routerLinkActive="active">
      Zur Impfung anmelden
    </a>
    <a class="item" routerLink="verwalten" routerLinkActive="active">
      Impftermine verwalten
    </a>
    <a class="item" routerLink="login" routerLinkActive="active">
      Einloggen
    </a>
  </div>
</div>

<router-outlet>

</router-outlet>
