<div class="intro">
  <h3>Schritt 1: Bundesland auswählen</h3>
  <h4>Wählen Sie das Bundesland in dem die Impfung durchgeführt werden soll.</h4>
</div>

<div *ngIf="states" class="ui link cards">
  <a class="ui card" *ngFor="let state of states" (click)="next(state)">
    <div class="image">
      <img src="{{state.imageUrl}}">
      <div class="title">{{state.state}}</div>
    </div>
    <div class="content">
      <span>Weiter <i class="arrow alternate circle right outline icon"></i></span>
    </div>
  </a>
</div>
