<div class="container">
    <div class="left-panel">
      <h1>Impftermine verwalten</h1>
      <div class="filter-container">
        <div class="filter-options">
          <select class="ui dropdown" (change)="onStateChange($event.target.value)">
            <option [value]="state" *ngFor="let state of states">{{state}}</option>
          </select>

          <select class="ui dropdown" [disabled]="!filteredCities" (change)="onCityChange($event.target.value)">
            <option [value]="city.key" *ngFor="let city of filteredCities | keyvalue">{{city.key}}</option>
          </select>

          <select class="ui dropdown" [disabled]="!filteredPlaces">
            <option [value]="place.key" *ngFor="let place of filteredPlaces | keyvalue">{{place.key}}</option>
          </select>

          <div class="ui input">
            <input type="date">
          </div>
        </div>

        <button class="ui secondary labeled icon button" (click)="onSetFilter()">
          <i class="filter icon"></i>
          Filter setzen
        </button>
      </div>

      <button class="ui secondary labeled icon button add-btn" routerLink="termin/new">
        <i class="plus icon"></i>
        Impftermin hinzufügen
      </button>
    </div>
    <div class="right-panel">

      <div class="ui middle aligned divided list" *ngIf="vaccinations">
        <div class="item" *ngFor="let vaccination of vaccinations">
          <div class="right floated content">
            <button class="ui icon button" routerLink="termin/{{vaccination.id}}"><i class="edit icon"></i></button>
            <button class="ui icon button" (click)="onDelete(vaccination.id)"><i class="trash icon"></i></button>
          </div>
          <i class="large syringe icon"></i>

          <div class="content">
            <h4 class="header">{{vaccination.state}}
              <i class="chevron right icon"></i> {{vaccination.city}}
              <i class="chevron right icon"></i> {{vaccination.place}}
            </h4>
            <div class="description">{{vaccination.date | date:'longDate' }} | {{vaccination.fromTime | slice:0:5}} - {{vaccination.toTime | slice:0:5}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>

