<div class="container">
    <div class="left-panel">
      <h1>Impftermine verwalten</h1>
      <form [formGroup]="filterForm" class="filter-container" (submit)="onSetFilter()">
        <div class="filter-options">
          <select class="ui dropdown" formControlName="state">
            <option>{{labelStateFilter}}</option>
            <option [value]="state" *ngFor="let state of states">{{state}}</option>
          </select>

          <select class="ui dropdown" formControlName="city">
            <option>{{labelCityFilter}}</option>
            <option [value]="city.key" *ngFor="let city of cities | keyvalue">{{city.key}}</option>
          </select>

          <select class="ui dropdown" formControlName="place">
            <option>{{labelPlaceFilter}}</option>
            <option [value]="place.key" *ngFor="let place of places | keyvalue">{{place.key}}</option>
          </select>

          <div class="ui input">
            <input type="date" formControlName="date">
          </div>
        </div>

        <div class="btn-group">
          <button class="ui secondary labeled icon button" type="submit">
            <i class="filter icon"></i>
            Filter setzen
          </button>
          <button class="ui secondary button reset" type="reset" (click)="onResetFilter()">
            <i class="redo icon"></i>
          </button>
        </div>
      </form>

      <div class="ui checkbox cb-date-toggle">
        <input type="checkbox" (click)="showAllCurrent($event.target)">
        <label>Alle ab heute anzeigen.</label>
      </div>

      <button class="ui secondary labeled icon button add-btn" routerLink="termin/new">
        <i class="plus icon"></i>
        Impftermin hinzufügen
      </button>
    </div>
    <div class="right-panel">

      <div class="ui middle aligned divided list" *ngIf="vaccinations">
        <div class="item" *ngFor="let vaccination of shownVaccinations">
          <div class="right floated content" *ngIf="isInPast(vaccination.date)">
            <button class="ui icon button" routerLink="termin/{{vaccination.id}}"><i class="edit icon"></i></button>
            <button class="ui icon button" (click)="openModal('delete-modal', vaccination.id)"><i class="trash icon"></i></button>
          </div>
          <i class="large syringe icon"></i>

          <div class="content">
            <h4 class="header">{{vaccination.state}}
              <i class="chevron right icon"></i> {{vaccination.city}}
              <i class="chevron right icon"></i> {{vaccination.place}}
            </h4>
            <div class="description">{{vaccination.date | date:'longDate' }} | {{vaccination.fromTime | slice:0:5}} - {{vaccination.toTime | slice:0:5}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <jw-modal id="delete-modal">
    <h1>Wollen Sie den Impftermin wirklich löschen?</h1>
    <button class="ui button" (click)="closeModal('delete-modal');">Nein</button>
    <button class="ui button secondary" (click)="onDelete('delete-modal')">Impftermin löschen</button>
  </jw-modal>

